//_accordeon.scss
.accordeon_content {
	@include size(100%, auto);
	overflow: hidden;
	margin: 0 auto;
	display: none;
	&.visible {
		display: block;
	}

	// Textos
	h2 {
		font-family: $Helvetica_L;
		font-size: $accordeon-title;
		line-height: $accordeon-title-line-height;
		margin-bottom: 20px;
	}

	h3 {
		font-family: $Helvetica_B;
		font-size: $accordeon-sub-title;
		line-height: $accordeon-text-line-height;
	}

	p {
		font-family: $Helvetica_L;
		font-size: $accordeon-text;
		line-height: $accordeon-text-line-height;
		margin-bottom: 20px;
	}

	ul {
		list-style: disc;
		padding-left: 20px;

		li {
			font-family: $Helvetica_L;
			font-size: $accordeon-text;
			line-height: $accordeon-text-line-height;
		}
	}

	img {
		max-width: 100%;
		display: block;
		height: auto;
	}

	.control {
		display: table;

		&.green-1 {
			background-color: $green-1;
		}
	}

	.col_16 {
		@include size(16.666%, 100%);
		display: table-cell;
		padding: 30px 15px;
		overflow: hidden;
	}

	.col_20 {
		@include size(20%, 100%);
		display: table-cell;
	}

	.col_25 {
		@include size(25%, 100%);
		display: table-cell;
		padding: 30px 15px 30px 30px;
		opacity: .6;

		&.active {
			opacity: 1;
		}

		&.blue-1 {
			background-color: $blue-1;
		}
		&.blue-2 {
			background-color: $blue-2;
		}
		&.blue-3 {
			background-color: $blue-3;
		}
		&.blue-4 {
			background-color: $blue-4;
		}
	}

	.col_33 {
		@include size(33.33333%, 100%);
		display: table-cell;

		&.gray-6 {
			background-color: $gray-6;
		}

		&.gray-5 {
			background-color: $gray-5;
		}

		ul {
			width: 100%;
			overflow: hidden;
			list-style: none;
			background-color: $white;
			padding: 10px 0;
			margin: 0;

			li {
				display: inline-block;
				vertical-align: middle;
				width: 32%;
				text-align: center;

				img {
					display:block;
					width: auto;
					height: 100%;
					margin: 0 auto;
				}
			}
		}
	}

	.col_40 {
		@include size(40%, 100%);
		display: table-cell;

		&.gray-6 {
			background-color: $gray-6;
		}

		&.gray-5 {
			background-color: $gray-5;
		}
	}

	.col_50 {
		@include size(50%, 100%);
		display: table-cell;

		&.gray-6 {
			background-color: $gray-6;
		}

		&.gray-5 {
			background-color: $gray-5;
		}

		p {
			float: left;
			width: 50%;
		}

		ul {
			float: left;
			width: 50%;
			padding-left: 40px;
		}
	}

	.col_80 {
		@include size(80%, 100%);
		display: table-cell;
		padding: 40px 30px;
	}

	&#mas_info_mezcla {
		.content {
			  min-height: 280px;
		}
	}

	&#mas_info_instalaciones {
		.col_50 {
			p, ul {
				float: none;
				width: 100%;
				margin-bottom: 20px;
			}
		}
	}
}
.control {
	@include size(100%, auto);
	margin: 0 auto;
	overflow: hidden;
}
// content generico
.content {
	padding: 30px 15px 30px 30px;
	overflow: hidden;
}
.content-header {
	@include size(100%, auto);
	display: block;
	border: none;
	overflow: hidden;
	position: relative;

	figcaption {
		@include size(100%, 100%);
		@include position(absolute, 0, 0, 0, 0);
		overflow: hidden;
		z-index: 2;
		padding: 15px;

		h2 {
			font-family: $Helvetica_T;
			font-size: 40px;
			line-height: 45px;
			@include text-shadow(1px 1px 1px, $black-50);
			@include position(absolute, auto, 20px, 0px, auto);
		}
	}
}
// mercados boxs
.content-figure {
	@include size(100%, 100%);
	position: relative;
	overflow: hidden;
	float: left;
	border: 1px solid $white;

	&._50 {
		height: 50%;

		&:first-child {
			margin-bottom: 8px;
		}
		&:last-child {
			margin-top: 9px;
		}
	}

	img {
		@include size(100%, auto);
	}

	&:hover {
		> figcaption {
			display: block;
		}
	}

	> figcaption {
		display: none;
		@include position(absolute, 0, 0, 0, 0);
		z-index: 2;
		overflow: hidden;
	}
}

.blue_overlay {
	@include size(100%, 100%);
	max-height: 316px;
	background: url(../images/laboratorio/laboratorio-calidad.jpg) center center no-repeat;

	.col_20 {
		vertical-align: middle;
	}

	h2 {
		font-family: $Helvetica_T;
		font-size: 65px;
		line-height: 65px;
		text-align: center;
		margin: 0;
	}

	p {
		font-family: $Helvetica_L;
		font-size: 22px;
		line-height: 28px;
		margin: 0;
		float: left;
	}
}

.box {
	@include position(absolute, 0, 0, 0, 0);
	@include size(100%, 100%);
	margin: 0;
	overflow: hidden;
	padding: 10px;
	text-align: center;

	h2 {
		font-family: $Helvetica_B;
		font-size: 17px;
		line-height: 18px;
		margin-bottom: 3px;
	}

	ul {
		padding-left: 0;
		list-style: none;

		li {
			font-family: $Helvetica_L;
			font-size: 14px;
			line-height: 17px;
		}
	}
}

.download {
	@include size(100%, auto);
	overflow: hidden;

	img {
		display: inline-block;
		margin: 0 15px;
	}

	.btn {
		display: inline-block;
		vertical-align: bottom;
	}
}
