//_accordeon.scss
.accordeon_content {
	@include size(100%, auto);
	overflow: hidden;
	margin: 0 auto;
	display: none;
	
	&.visible {
		display: block;
	}

	.control {
		display: table;
	}

	.col_25 {
		@include size(25%, 100%);
		display: table-cell;
		padding: 30px 15px;
		
		&.blue-1 {
			background-color: $blue-1;
		}
		&.blue-2 {
			background-color: $blue-2;
		}
		&.blue-3 {
			background-color: $blue-3;
		}
		&.blue-4 {
			background-color: $blue-4;
		}

		h2 {
			font-family: $Helvetica_LC;
			font-size: $accordeon-title;
			line-height: $accordeon-title-line-height;
			margin-bottom: 20px;
		}

		h3 {
			font-family: $Helvetica_BC;
			font-size: $accordeon-sub-title;
			line-height: $accordeon-text-line-height;
		}
		
		p {
			font-family: $Helvetica_LC;
			font-size: $accordeon-text;
			line-height: $accordeon-text-line-height;
		}

		ul {
			list-style: disc;
			padding-left: 20px;
			
			li {
				font-family: $Helvetica_LC;
				font-size: $accordeon-text;
				line-height: $accordeon-text-line-height;
			}	
		
		}
	}

	.col_50 {
		@include size(50%, 100%);
		display: table-cell;
		
		&.gray-6 {
			background-color: $gray-6;
		}

		&.gray-5 {
			background-color: $gray-5;
		}

		.content {
			padding: 30px 15px;
			overflow: hidden;
		}

		img {
			max-width: 100%;
			display: block;
			height: auto;
		}

		h2 {
			font-family: $Helvetica_LC;
			font-size: $accordeon-title;
			line-height: $accordeon-title-line-height;
			margin-bottom: 20px;
		}
		
		p {
			font-family: $Helvetica_LC;
			font-size: $accordeon-text;
			line-height: $accordeon-text-line-height;
			float: left;
			width: 50%;
		}

		ul {
			list-style: disc;
			padding-left: 20px;
			float: left;
			width: 50%;

			li {
				font-family: $Helvetica_LC;
				font-size: $accordeon-text;
				line-height: $accordeon-text-line-height;
			}
		}
	}
}
.control {
	@include size(100%, auto);
	margin: 0 auto;
	overflow: hidden;
}