//_buttons.scss
.btn {
	display: inline-block;
	text-decoration: none;
	border: none;
	background-color: transparent;
	color: $white;
	font-family: $Helvetica_T;
	overflow: hidden;
	text-align: center;

	&.btn_plus {
		background-color: $blue-5;
		@include size(55px, 55px);
		@include border-radius(50%);
		font-size: 40px;
		line-height: 55px;

		&.gray-5 {
			background-color: $gray-5;
		}
		&.green-1 {
			background-color: $green-1;
		}
	}

	&.btn_mouse {
		background: url(../images/btn_mouse.png) 0 0 no-repeat;
		@include size(29px, 72px);
		text-indent: -9999px;
	}

	&.btn_primary {
		background-color: $blue-1;
		color: $white;
		@include size(162px, 47px);
		font-family: $Helvetica_B;
		font-size: 24px;
		line-height: 47px;
		text-transform: uppercase;

		&:hover,
		&:focus {
			background-color: $blue-5;
		} 
	}

  &.btn_descargar {
    background: url(../images/laboratorio/btn-descargar-cert.png) 0 0 no-repeat;
    @include size(111px, 103px);
    text-indent: -9999px;
  }

  @media(max-width: $sreen_tablet_port) {
    &.btn_descargar {
      @include size(80px, 73px);
      background-size: cover;
    } 
  }

}

// Nav icon component
#nav-icon {
  @include size(50px, 30px);
  position: relative;
  margin: 5px auto;
  // transform
  @include transform-rotate(0deg);
  // transition
  @include transition(.5s, ease-in-out);
  cursor: pointer;

  span {
    @include size(100%, 6px);
    display: block;
    position: absolute;
    background: $blue-1;
    //border-radius: 9px;
    opacity: 1;
    left: 0;
    // transform
    @include transform-rotate(0deg);
    // transition
    @include transition(.25s, ease-in-out);
    
    &:nth-child(1) {
      top: 0px;
    }
    &:nth-child(2), &:nth-child(3) {
      top: 12px;
    }
    &:nth-child(4) {
      top: 24px;
    }
  }
	// open state
  &.open {
    span {
      &:nth-child(1) {
        top: 18px;
        width: 0%;
        left: 50%;
      }
      &:nth-child(2) {
        @include transform-rotate(45deg);
  
      }
      &:nth-child(3) {
        @include transform-rotate(-45deg);
      }
      &:nth-child(4) {
        top: 18px;
        width: 0%;
        left: 50%;
      }
    }
  }
  
  // latop
  @media(max-width: $sreen_md) {
    @include size(45px, 30px);
    margin: 2px auto;
  }

}
