//_fonts.scss

// Helvetica Neue Thin
@font-face {
  font-family: $Helvetica_T;
  src: url('../fonts/HelveticaNeue-Thin.eot');
  src: url('../fonts/HelveticaNeue-Thin.eot?#iefix') format('embedded-opentype'),
       url('../fonts/HelveticaNeue-Thin.woff2') format('woff2'),
       url('../fonts/HelveticaNeue-Thin.woff') format('woff'),
       url('../fonts/HelveticaNeue-Thin.ttf') format('truetype'),
       url('../fonts/HelveticaNeue-Thin.svg#HelveticaNeue-Thin') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Helvetica Neue Light
@font-face {
  font-family: $Helvetica_L;
  src: url('../fonts/HelveticaNeueLight.eot');
  src: url('../fonts/HelveticaNeueLight.eot?#iefix') format('embedded-opentype'),
       url('../fonts/HelveticaNeueLight.woff2') format('woff2'),
       url('../fonts/HelveticaNeueLight.woff') format('woff'),
       url('../fonts/HelveticaNeueLight.ttf') format('truetype'),
       url('../fonts/HelveticaNeueLight.svg#HelveticaNeueLight') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Helvetica Neue Medium
@font-face {
  font-family: $Helvetica_M;
  src: url('../fonts/HelveticaNeueMedium.eot');
  src: url('../fonts/HelveticaNeueMedium.eot?#iefix') format('embedded-opentype'),
       url('../fonts/HelveticaNeueMedium.woff2') format('woff2'),
       url('../fonts/HelveticaNeueMedium.woff') format('woff'),
       url('../fonts/HelveticaNeueMedium.ttf') format('truetype'),
       url('../fonts/HelveticaNeueMedium.svg#HelveticaNeueMedium') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Helvetica Neue Medium Italic
@font-face {
  font-family: $Helvetica_MI;
  src: url('../fonts/HelveticaNeue-MediumItalic.eot');
  src: url('../fonts/HelveticaNeue-MediumItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/HelveticaNeue-MediumItalic.woff2') format('woff2'),
       url('../fonts/HelveticaNeue-MediumItalic.woff') format('woff'),
       url('../fonts/HelveticaNeue-MediumItalic.ttf') format('truetype'),
       url('../fonts/HelveticaNeue-MediumItalic.svg#HelveticaNeue-MediumItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Helvetica Neue Bold
@font-face {
  font-family: $Helvetica_B;
  src: url('../fonts/HelveticaNeueBold.eot');
  src: url('../fonts/HelveticaNeueBold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/HelveticaNeueBold.woff2') format('woff2'),
       url('../fonts/HelveticaNeueBold.woff') format('woff'),
       url('../fonts/HelveticaNeueBold.ttf') format('truetype'),
       url('../fonts/HelveticaNeueBold.svg#HelveticaNeueBold') format('svg');
  font-weight: normal;
  font-style: normal;
}