// logos.scss
.logo {
	display: block;
	text-indent: -9999px;
	cursor: pointer;
	
	&.logo_isisa {
		background: url(../images/logos/logo_isisa.svg) center center no-repeat;
		background-size: cover;
		@include size(161px, 41px);

		@media(max-width: $sreen_md) {
			@include size(124px, 32px);	
		}
	}

	&.isologo_isisa {
		background: url(../images/logos/isologo_isisa.svg) center center no-repeat;
		background-size: cover;
		@include size(180px, 180px);
	}

	&.logo_isisa_inverse {
		background: url(../images/logos/logo_isisa_footer.svg) center center no-repeat;
		background-size: cover;
		@include size(110px, 29px);
	}
}