// mixins

// 
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

//
@mixin background-fixed($image, $pos-x, $pos-y) {
	background: url($image) $pos-x $pos-y fixed no-repeat;
}

//
@mixin size($width, $height) {
	width: $width;
	height: $height;
}

// box-shadow
@mixin box-shadow($angle, $color) {
	box-shadow: $angle $color;
}

// text-shadow
@mixin text-shadow($angle, $color) {
	text-shadow: $angle $color;
}

// position absolute
@mixin position($position, $top, $left, $bottom, $right) {
	position: $position;
	top: $top;
	left: $left;
	bottom: $bottom;
	right: $right;
}

// transform
@mixin transform-rotate($angle) {
  -webkit-transform: rotate($angle);
  -moz-transform: rotate($angle);
  -o-transform: rotate($angle);
  transform: rotate($angle);
}

// transition
@mixin transition($time, $type) {
  -webkit-transition: $time $type;
  -moz-transition: $time $type;
  -o-transition: $time $type;
  transition: $time $type;
}