//_responsive.scss
// screen size
$sreen_laptop_big:1440px;
$sreen_md: 1366px;
// tablet
$sreen_tablet_land: 1024px;
$sreen_tablet_port: 768px;
//
$sreen_mobile_xl_port: 960px;
$sreen_mobile_xl: 600px;
$sreen_mobile_xs: 414px;
$sreen_mobile_xxs: 320px;

@media (max-width: $sreen_laptop_big) {
  $title-size: 75px;
  $title-line-height: 78px;

  #contacto {
    .header_contact {
      h3 {
        font-size: $title-size;
        line-height: $title-line-height;
      }
    }
  }
}

// DESKTOP
@media(max-width: $sreen_md) {
  $title-size: 75px;
  $title-line-height: 78px;
  $sub-title-size: 65px;
  $accordeon-title: 24px;
  $accordeon-title-line-height: 28px;

  header {
    @include size(100%, 54px);
    padding: 10px 16px;
  }
  .menu {
    top: 54px;
  }
  article {
    margin-top: 54px;
  }
  section {
    h1 {
      font-size: $title-size;
      line-height: $title-line-height;
    }
  }
  .overlay {
    h1 {
      font-size: $title-size;
      line-height: $title-line-height;
    }
  }
  #contacto {
    .header_contact {
      h3 {
        font-size: $sub-title-size;
        line-height: $title-line-height;
      }
    }
  }
  .content-figure {
    &._50 {
      &:first-child {
        margin-bottom: 3px;
      }
      &:last-child {
        margin-top: 7px;
      }
    }
  }
  .box {
    h2 {
      font-size: 16px;
      line-height: 18px;
    }
    ul {
      li {
        font-size: 13px;
        line-height: 16px;
      }
    }
  }
  .download {
    img {
      @include size(90px, auto);
      vertical-align: top;
    }
  }
  .logo {
    &.logo_isisa {
      @include size(124px, 32px);
    }
    &.isologo_isisa {
      @include size(160px, 160px);
    }
  }
  #nav-icon {
    @include size(45px, 30px);
    margin: 2px auto;
  }
}

// TABLET
@media(max-width: $sreen_tablet_land) {
  $accordeon-title: 20px;
  $accordeon-title-line-height: 26px;

  section {
    &#mezclas, &#mercados, &#laboratorio, &#instalaciones {
      background-position: center center;
      background-attachment: initial;
    }
  }
  #content_video {
    @include size(117%, 100%);
  }
  .blue_overlay {
    padding: 0 16px;
    p {
      font-size: $accordeon-title;
      line-height: $accordeon-title-line-height;
    }
  }
  .download img {
    @include size(60px, auto);
  }
  .btn {
    &.btn_descargar {
      background-size: cover;
      @include size(95px, 89px);
    }
  }
  footer {
    @include size(100%, auto);
    .copy {
      width: calc(100% - 150px);
    }
  }
}

@media(max-width: $sreen_tablet_port) {
  $title-size: 60px;
  $title-line-height: 65px;
  $sub-title-size: 55px;

  .btn {
    &.btn_descargar {
      @include size(80px, 73px);
      background-size: cover;
    }
  }
  section {
    &#nosotros {
      background: url(../images/video-size.jpg) center center no-repeat;
      background-size: cover;
    }
    &#mezclas {
      background: url(../images/mezclas/bg-mezclas-mobile.jpg) center center no-repeat;
      background-size: cover;
    }
    &#mercados {
      background: url(../images/mercados/bg-mercados-mobile.jpg) center center no-repeat;
      background-size: cover;
    }
    &#laboratorio {
      background: url(../images/laboratorio/bg-laboratorio-mobile.jpg) center center no-repeat;
      background-size: cover;
    }
    &#instalaciones {
      background: url(../images/instalaciones/bg-instalaciones-mobile.jpg) center center no-repeat;
      background-size: cover;
    }

    h1 {
      font-size: $title-size;
      line-height: $title-line-height;
    }
  }
  .overlay {
    h1 {
      font-size: $title-size;
      line-height: $title-line-height;
      span {
        font-size: $sub-title-size;
      }
    }
  }
  #content_video {
    display: none;
  }
  #mezclas,
  #mercados,
  #laboratorio,
  #instalaciones{
    h1 {
      margin-top: 30%;
    }
  }
  #laboratorio {
    h1 {
      em {
        font-size: $title-size;
        line-height: $title-size;
      }
      span {
        font-size: 22px;
        line-height: 22px;
      }
    }
  }
  // ACCORDEON
  .accordeon_content {
    .control {
      display: block;
    }
    .col_16 {
      @include size(50%, auto);
      padding: 15px;
      display: block;
      float: left;
    }
    .col_20,
    .col_25,
    .col_33,
    .col_50,
    .col_80 {
      @include size(100%, auto);
      display: block;
      float: left;
    }
    .col_20 {
      padding-top: 15px;
    }
    .col_80 {
      padding: 20px;
    }

    img {
      width: 100%;
    }
  }
  .content {
    padding: 30px 20px;
  }
  .content-figure {
    &._50 {
      &:first-child {
        margin-bottom: 10px;
      }
      &:last-child {
        margin-top: 10px;
      }
    }
  }
  .blue_overlay {
    @include size(100%, auto);
    max-height: 100%;
    background: url(../images/laboratorio/laboratorio-calidad-mobile.jpg) center center no-repeat;
    background-size: cover;

    h2 {
      font-family: $Helvetica_L;
      font-size: 40px;
      line-height: 45px;
    }

    p {
      font-size: $accordeon-text;
      line-height: $accordeon-text-line-height;
    }
  }
  .download  {
    img {
      @include size(80px, auto);
      margin: 0 7px;
    }
    .btn {
      vertical-align: top;
    }
  }
  .box {
    h2 {
      font-size: 30px;
      line-height: 35px;
    }
    ul {
      li {
        font-size: 22px;
        line-height: 26px;
      }
    }
  }
}

// MOBILE
@media(max-width: $sreen_mobile_xl) {
  $title-size: 45px;
  $sub-title-size: 35px;

  .overlay {
    .isologo_isisa {
      margin: 10% auto 30px;
    }
  }

  .content-figure {
    &._50 {
      &:first-child {
        margin-bottom: 3px;
      }
      &:last-child {
        margin-top: 7px;
      }
    }
  }
  #contacto {
    @include size(100%, auto !important);
    .header_contact {
      @include size(100%, 120px);
      h3 {
        font-size: $title-size;
      }
    }
    .contact_map {
      @include size(100%, 300px);
    }
    .contact_form_content {
      @include size(100%, auto);
    }
  }
  .contact_form_content {
    .col_50 {
      @include size(100%, auto);
      }
  }
  .logo {
    &.isologo_isisa {
      @include size(120px, 120px);
    }
  }
  // LOGISTICA
  #logistica {
    .bx-wrapper {
      .bx-controls-direction a {
        @include size(35px,83px);
        top: 20%;
        background-size: cover;
      }
      .custom_caption {
        position: relative;
        left: auto;
        bottom: auto;
        max-width: 100%;
        padding: 15px 15px 80px;
      }
    }
  }
  footer {
    .copy {
      width: calc(100% - 120px);
      text-align: right;
      line-height: 12px;
      font-size: 10px;
    }
  }
}

@media(max-width: $sreen_mobile_xs) {
  $title-size: 35px;
  $title-line-height: 45px;
  $sub-title-size: 25px;

  .btn {
    &.btn_mouse {
      display: none;
    }
  }
  .menu {
    max-width: 100%;
  }

  section {
    h1 {
      font-size: $title-size;
      line-height: $title-line-height;
    }
  }
  .overlay {
    h1 {
      font-size: $title-size;
      line-height: $title-line-height;
      span {
        font-size: $sub-title-size;
        line-height: $title-line-height;
      }
    }
  }

  #laboratorio {
    h1 {
      margin-top: 6%;
      @include text-shadow(1px 1px 1px, $white-50);
      em {
        font-size: $title-line-height;
        line-height: $title-line-height;
      }
      span {
        display: none;
      }
    }
  }
  #logistica {
    .bx-wrapper {
      .bx-controls-direction a {
        @include size(25px, 70px);
        top: 20%;
        background-size: cover;
      }
      .custom_caption {
        padding: 15px 15px 50px;

        h3 {
          font-size: 22px;
          line-height: 28px;
        }
        p {
          font-size: 12px;
          line-height: 14px;
        }
      }
    }
  }
  #partners {
    padding: 16px;
    .partners-list {
      display: block;

      li {
        @include size(50%, 120px);
        display: block;
        float: left;

        &:last-child {
          @include size(100%, auto);
        }
      }
    }
  }
  .content-figure {
    & > figcaption {
      display: block;
    }
  }
  .box {
    h2 {
      font-size: 16px;
      line-height: 18px;
    }
    ul {
      li {
        font-size: 12px;
        line-height: 14px;
      }
    }
  }

}

@media(max-width: $sreen_mobile_xxs) {
  $title-size: 28px;
  $title-line-height: 30px;
  $sub-title-size: 25px;

  .logo {
    &.isologo_isisa {
      @include size(100px, 100px);
    }
  }
  section {
    h1 {
      font-size: $title-size;
      line-height: $title-line-height;
    }
  }
  .overlay {
    h1 {
      font-size: $title-size;
      line-height: $title-line-height;
      span {
        font-size: $sub-title-size;
        line-height: $title-line-height;
      }
    }
    .btn_plus {
      bottom: 10%;
    }
  }
  #laboratorio {
    h1 {
      em {
        font-size: $title-line-height;
        line-height: $title-line-height;
      }
    }
  }
  #mercados {
    .label_span {
      @include size(90%, auto);

      p {
        font-size: 14px;
        line-height: 18px;
      }
    }
  }
  #partners {
    .title-separator {
      h3 {
        font-size: $title-size;
        line-height: $title-line-height;
      }
    }
  }
  .content {
    padding: 16px;
  }
  .accordeon_content {
    .col_25 {
      padding: 16px;
    }
    h2 {
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 15px;
    }
    p {
      font-size: 14px;
      line-height: 18px;
    }
    ul {
      padding-left: 25px;
      li {
        font-size: 14px;
        line-height: 18px;
      }
    }
    figcaption {
      h2 {
        font-size: 30px;
        line-height: 34px;
      }
    }
  }
  .blue_overlay {
    h2 {
      font-size: 30px;
      line-height: 34px;
    }
  }
  .box {
    padding: 5px;
    h2 {
      font-size: 13px !important;
      line-height: 15px !important;
      margin-bottom: 0px;
    }
    ul {
      padding: 0;
      li {
        font-size: 10px;
        line-height: 12px;
      }
    }
  }
}