// variables.scss

// colores
$black  : #000000;
$white	: #FFFFFF;

$gray-1 : #e1e1e1;
$gray-2	: #b4b8ba; //header
$gray-3	: #dedede; //inputs
$gray-4	: #9f9f9f; 
$gray-5 : #383838; //button +
$gray-6 : #272727;

$blue-1 : #1d6da5;
$blue-2 : #185986;
$blue-3 : #1a5f8f;
$blue-4 : #1b6599;
$blue-5 : #1c73ab; // button +
$blue-overlay: rgba(29,109,165, .5);

$green  : #133331;