// variables.scss

// screen size
$sreen_md: 1366px;
// tablet
$sreen_tablet_land: 1024px;
$sreen_tablet_port: 768px;
//
$sreen_mobile_xl: 600px;
$sreen_mobile_xs: 414px;

// colores
$black  : #000000;
$black-50: rgba(0,0,0,.5);
$white	: #FFFFFF;
$white-50: rgba(255,255,255,.5);

$gray-1 : #e1e1e1;
$gray-2	: #b4b8ba; //header
$gray-3	: #dedede; //inputs
$gray-4	: #9f9f9f; 
$gray-5 : #383838; //button +
$gray-6 : #272727;
$gray-7 : #cccccc;
$gray-2-90: rgba(180, 184, 186, 0.9);

$blue-1 : #1d6da5;
$blue-2 : #185986;
$blue-3 : #1a5f8f;
$blue-4 : #1b6599;
$blue-5 : #1c73ab; // button +
$blue-overlay: rgba(29,109,165, .5);

$green-1: #133331;
$green-2: #718583;

// Fonts
// Helvetica Neue Thin
$Helvetica_T  : 'HelveticaNeue-Thin';
// Helvetica Neue Medium Italic
$Helvetica_MI  : 'HelveticaNeue-MediumItalic';
// Helvetica Neue Light
$Helvetica_L  : 'HelveticaNeueLight';
// Helvetica Neue Bold
$Helvetica_B  : 'HelveticaNeueBold';

// Fonts Size
$title-size: 85px;
$sub-title-size: 75px;

$accordeon-title: 28px;
$accordeon-title-line-height: 32px;
$accordeon-sub-title: 16px;
$accordeon-text: 16px;
$accordeon-text-line-height: 20px;

// Mobile vars
@media(max-width: $sreen_md) {
  $title-size: 75px;
  $sub-title-size: 65px;
  //
  $accordeon-title: 24px;
  $accordeon-title-line-height: 28px;
} 

@media(max-width: $sreen_tablet_port) {
  $title-size: 55px;
  $sub-title-size: 45px;
  //
}

@media(max-width: $sreen_mobile_xl) {
  $title-size: 45px;
  $sub-title-size: 35px;
}

@media(max-width: $sreen_mobile_xs) {
  $title-size: 35px;
  $sub-title-size: 25px;
}