// variables.scss

// colores
$black  : #000000;
$black-50: rgba(0,0,0,.5);
$white	: #FFFFFF;
$white-50: rgba(255,255,255,.5);

$gray-1 : #e1e1e1;
$gray-2	: #b4b8ba; //header
$gray-3	: #dedede; //inputs
$gray-4	: #9f9f9f; 
$gray-5 : #383838; //button +
$gray-6 : #272727;
$gray-7 : #cccccc;

$blue-1 : #1d6da5;
$blue-2 : #185986;
$blue-3 : #1a5f8f;
$blue-4 : #1b6599;
$blue-5 : #1c73ab; // button +
$blue-overlay: rgba(29,109,165, .5);

$green-1: #133331;
$green-2: #718583;

// Fonts
// Helvetica Neue Thin
$Helvetica_T  : 'HelveticaNeue-Thin';
// Helvetica Neue Medium Italic
$Helvetica_MI  : 'HelveticaNeue-MediumItalic';
// Helvetica Neue Light
$Helvetica_L  : 'HelveticaNeueLight';
// Helvetica Neue Bold
$Helvetica_B  : 'HelveticaNeueBold';

// Fonts Size
$title-size: 75px;
$sub-title-size: 65px;

$accordeon-title: 28px;
$accordeon-title-line-height: 32px;
$accordeon-sub-title: 16px;
$accordeon-text: 16px;
$accordeon-text-line-height: 20px;