// bower:scss
// endbower

/**
 *  Author  : Mariano Molina @xsincrueldadx
 *  Proyect : ISISA
 *  Date    : 5/11/2015
 */

// imports
@import 'reset';
@import 'variables';
@import 'mixins';
@import 'logos';
@import 'fonts';
@import 'buttons';

// Aload Snippet
[data-aload] { background-image: none !important; }

// theme
body {
  background: $black;
  font-family: $Helvetica_L, Helvetica, Arial, sans-serif;
  color: $white;
  position: relative;
  overflow: hidden;
}
// loader
#preloader {
  background: $black;
  @include position(fixed, 0,0,0,0);
  z-index: 99999;
  text-align: center;
}
// loader element
.ball-clip-rotate-multiple {
  display: inline-block;
  margin-top: 30%;
}
.ball-clip-rotate-multiple > div {
  border-color: $blue-1;
}

// header
header {
  background: $gray-2-90;
  @include size(100%, 64px);
  padding: 12px 16px;
  @include position(fixed, 0,0,0, auto);
  z-index: 300;
  @include box-shadow(0 0 6px, $black-50);

  .logo {
    float:left;
  }

  #nav-icon {
    float:right;
  }

}
// menu
.menu {
  @include position(absolute, 64px,auto, auto, 0);
  @include size(100%, auto);
  max-width: 300px;
  background-color: $blue-1;
  padding: 0px 16px;
  z-index: 299;
  display: none;

  &.open {
    display: block;
  }

  li {
    @include size(100%, auto);
    border-bottom: 1px solid $white;
    display: block;
    
    &:last-child {
      border-bottom: none;
    }

    a {
      color: $white;
      text-decoration: none;
      font-size: 21px;
      line-height: 45px;
      display: block;
      text-align: center;
    }
  }
}

// contenidos
article {
  @include size(100%, auto);
  margin-top: 64px;
}
section {
  @include size(100%, auto);
  overflow: hidden;
  position: relative;

  &#mezclas {
    @include background-fixed('../images/mezclas/bg-mezclas.jpg', 50%, 50%); 
  }

  &#mercados {
    @include background-fixed('../images/mercados/bg-mercados.jpg', 50%, 50%); 
  }

  &#laboratorio {
    @include background-fixed('../images/laboratorio/bg-laboratorio.jpg', 50%, 50%); 
  }

  &#instalaciones {
    @include background-fixed('../images/instalaciones/bg-instalaciones.jpg', 50%, 50%); 
  }

  &#logistica {
    background-color: $black;
  }

  &#contacto {
    background-color: $black;
  }
  
  // btn_plus
  .btn_plus {
    @include position(absolute, auto, 0, 15%, 0);
    display: block;
    margin: 0 auto;
  }

}
// Home / Intro
// blue overlay
.overlay {
  @include size(100%, 100%);
  background: $blue-overlay;
  @include position(absolute, 0,0,0,0);
  color: $white;
  z-index: 2;
  overflow: hidden;
  text-align: center;

  .isologo_isisa {
    margin: 4% auto 30px;
  }

  h1 {
    font-size: $title-size;
    @include text-shadow(1px 1px 1px, $black-50);

    em {
      font-family: $Helvetica_MI;
    }

    span {
      font-family: $Helvetica_L;
      display: block;
      font-size: $sub-title-size;
    }
  }

  .btn_plus {
    @include position(absolute, auto, 0, 25%, 0);
    margin: 0 auto;
  }

  .btn_mouse {
    @include position(absolute, auto, 0, 10%, 0);
    margin: 0 auto;
    display: block;
  }

}
#content_video {
  @include size(100%, 100%);
  @include position(absolute, 0, 0, 0, 0);
  overflow: hidden;
}
iframe {
  max-width: 100%;
  height: auto;
}

// Componentes
@import 'accordeon';

// Nuestras Mezclas
#mezclas {
  position: relative;

  h1 {
    font-family: $Helvetica_L;
    font-size: $title-size;
    @include text-shadow(1px 1px 1px, $black-50);
    text-align: center;
    margin-top: 10%; 
    em {
      font-family: $Helvetica_L;
    }
  }
}

// Mercados
#mercados {
  position: relative;

  h1 {
    font-family: $Helvetica_L;
    font-size: $title-size;
    @include text-shadow(1px 1px 1px, $black-50);
    text-align: center;
    margin-top: 16%; 
    em {
      font-family: $Helvetica_L;
      display: block;
    }
  }

  .label_span {
    font-family: $Helvetica_L;
    background-color: $green-1;
    @include size(330px, auto);
    text-align: center;
    margin: 5% auto;
    padding: 10px;
    border: 1px solid $green-2;

    p {
      font-size: 16px;
      line-height: 19px;
    }
  }
}

// Laboratorio
#laboratorio {
  position: relative;

  h1 {
    font-family: $Helvetica_L;
    @include text-shadow(1px 1px 1px, $white-50);
    color: $blue-1;
    text-align: center;
    margin-top: 5%;
    
    em {
      display: inline-block;
      font-size: $title-size;
      line-height: $title-size;
    }
    span {
      display: inline-block;
      font-size: 32px;
      line-height: 32px;
      text-align: left;
    }
  }
}

// Nuestras Mezclas
#instalaciones {
  position: relative;

  h1 {
    font-family: $Helvetica_L;
    font-size: $title-size;
    @include text-shadow(1px 1px 1px, $black-50);
    text-align: center;
    margin-top: 20%;
    em {
      font-family: $Helvetica_L;
    }
  }

  .btn_plus {
    @include position(absolute, auto, 0, 5%, 0);
    display: block;
    margin: 0 auto;
  }
}

// Logistica
#logistica {
  
  .bx-wrapper {
    border: none !important;
    box-shadow: none !important;
    background: $black;
    margin: 0 auto;
    
    .bx-pager {
      padding-top: 0;
      bottom: 30px;
    }

    .bx-pager {
      &.bx-default-pager {
        a {
          background: transparent;
          border: 2px solid $white;
          @include size(15px, 15px);
          @include border-radius(50%);

          &.active, 
          &:focus, 
          &:hover {
            background: $blue-5;
          }
        }
      } 
    }

    .bx-controls-direction {
      a {
        z-index: 200;
      }
    }

    img {
      height: auto;
    }

    .custom_caption {
      @include position(absolute, auto, 5%, 10%, auto);
      z-index: 10;
      @include size(100%, auto);
      max-width: 400px;

      // Textos
      h3 {
        font-family: $Helvetica_L;
        @include text-shadow(1px 1px 1px, $black-50);
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 10px;
      }
      
      p {
        font-family: $Helvetica_L;
        @include text-shadow(1px 1px 1px, $black-50);
        font-size: $accordeon-text;
        line-height: $accordeon-text-line-height;
      }
    }
  }
}

// Partners
#partners {
  @include size(100%, auto);
  overflow: hidden;
  position: relative;
  background-color: $gray-1;
  padding: 30px;

  .control {
    @include size(100%, auto);
    max-width: 1024px;
    overflow: hidden;
    margin: 0 auto;
  }

  .title-separator {
    @include size(100%, auto);
    overflow: hidden;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
    
    h3 {
      font-family: $Helvetica_L;
      font-size: 35px;
      line-height: 35px;
      color: $gray-7;
      display: inline-block;
      background-color: $gray-1;
      padding: 0 30px;
    }

    hr {
      width: 100%;
      border: 0;
      border-top: 1px solid $gray-7;
      margin: -20px auto 20px auto;
    }
  }

  .partners-list {
    @include size(100%, auto);
    overflow: hidden;
    display: table;

    li {
      display: table-cell;
    }

    img {
      max-width: 100%;
      height: auto;
      display: block;
      margin: 0 auto;
    }

  }
}

// Contacto
#contacto {
  
  .header_contact {
    @include size(100%, 15%);
    background: url(../images/contacto/contacto.jpg) 0 0 no-repeat;
    background-size: cover;
    position: relative;

    h3 {
      font-family: $Helvetica_L;
      font-size: $title-size;
      @include text-shadow(1px 1px 1px, $black-50);
      @include position(absolute, auto, 5%, 5%, auto);
    }
  }
  .contact_map {
    @include size(100%, 30%);
    overflow: hidden;
    position: relative;

    .map_overlay {
      @include size(100%, 100%);
      @include position(absolute, 0, 0, 0, 0);
      z-index: 3;
      overflow: hidden;
      background-color: transparent;
      &.hide {
        display: none;
      }
    }
  }
  .contact_form_content {
    @include size(100%, 55%);
    background: url(../images/contacto/form-bck.jpg) 0 0 no-repeat;
    background-size: cover;
  }

  #map-canvas {
    @include size(100%, 100%);
    padding: 0;
    margin: 0;

    #contentInfoWindow {
      color: $black;

      h1 {
        font-family: $Helvetica_B;
        font-size: 14px;
        line-height: 16px;
        em {
          color: $blue-1;
        }
      }
      
      p {
        font-size: 12px;
        line-height: 14px;
      }

    }
  }
}
// Form
.contact_form_content {
  .control {
    @include size(100%, auto);
    max-width: 1024px;
    overflow: hidden;
    margin: 0 auto;
  }

  .col_50 {
    float: left;
    width: 50%;
    padding: 30px 15px;
  }

  h3, p {
    font-family: $Helvetica_B;
    font-size: 24px;
    line-height: 34px;
  }

  p {
    em {
      font-size: 31px;
      line-height: 41px;
    }
  }

  h4 {
    font-family: $Helvetica_T;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
  }

  span {
    font-family: $Helvetica_T;
    font-size: 18px;
    line-height: 22px;
  }
}

.form-control {
  @include size(100%, auto);
  overflow: hidden;
  margin: 0 auto 15px;

  input, textarea {
    border: 1px solid $gray-3;
    background-color: $gray-3;
    padding: 10px;
    color: $gray-5;
    font-size: 14px;
  }
  input {
    @include size(100%, 39px);
  }
  textarea {
    @include size(100%, 140px);
  }
}

footer {
  @include size(100%, 40px);
  overflow: hidden;
  padding: 6px 16px;

  .logo {
    float:left;
  }
  .copy {
    float:right;
    line-height: 28px;
  }
}

// Responsive
@import 'responsive';


