// bower:scss
// endbower

/**
 *  Author  : Mariano Molina @xsincrueldadx
 *  Proyect : ISISA
 *  Date    : 5/11/2015
 */

// imports
@import 'reset';
@import 'variables';
@import 'mixins';
@import 'logos';
@import 'fonts';
@import 'buttons';

// theme
body {
  background: $black;
  font-family: $Helvetica_MC, Helvetica, Arial, sans-serif;
  color: $white;
  position: relative;
  overflow: hidden;
}
// loader
#preloader {
  background: $black;
  @include position(fixed, 0,0,0,0);
  z-index: 20;
  text-align: center;
}
// loader element
.ball-clip-rotate-multiple {
  display: inline-block;
  margin-top: 30%;
}
.ball-clip-rotate-multiple > div {
  border-color: $blue-1;
}

// header
header {
  background: $gray-2;
  @include size(100%, 64px);
  padding: 12px 16px;
  @include position(fixed, 0,0,0, auto);
  z-index: 5;
  @include box-shadow(0 0 6px, $black-50);
}

// contenidos
article {
  @include size(100%, auto);
  margin-top: 64px;
}
section {
  @include size(100%, auto);
  overflow: hidden;
  position: relative;

  &#mezclas {
    @include background-fixed('../images/mezclas/bg-mezclas.jpg', 50%, 50%); 
  }

  &#mercados {
    @include background-fixed('../images/mercados/bg-mercados.jpg', 50%, 50%); 
  }

  &#laboratorio {
    @include background-fixed('../images/laboratorio/bg-laboratorio.jpg', 50%, 50%); 
  }

  &#instalaciones {
    @include background-fixed('../images/instalaciones/bg-instalaciones.jpg', 50%, 50%); 
  }

  &#logistica {
    @include background-fixed('../images/mezclas/bg-mezclas.jpg', 50%, 50%); 
  }

  &#partners {
    @include background-fixed('../images/mezclas/bg-mezclas.jpg', 50%, 50%); 
  }

  &#contacto {
    @include background-fixed('../images/mezclas/bg-mezclas.jpg', 50%, 50%); 
  }
}
// Home / Intro
// blue overlay
.overlay {
  @include size(100%, 100%);
  background: $blue-overlay;
  @include position(absolute, 0,0,0,0);
  color: $white;
  z-index: 2;
  overflow: hidden;
  text-align: center;

  .isologo_isisa {
    margin: 4% auto 30px;
  }

  h1 {
    font-size: $title-size;
    @include text-shadow(1px 1px 1px, $black-50);

    em {
      font-family: $Helvetica_MI;
    }

    span {
      font-family: $Helvetica_LC;
      display: block;
      font-size: $sub-title-size;
    }
  }

  .btn_plus {
    margin: 30px auto;
  }

  .btn_mouse {
    display: block;
    margin: 0 auto;
  }

}
#content_video {
  @include size(100%, 100%);
  position: absolute;
  @include position(absolute, 0, 0, 0, 0);
  overflow: hidden;
}
iframe {
  max-width: 100%;
  height: auto;
}

// Componentes
@import 'accordeon';

// Nuestras Mezclas
#mezclas {
  position: relative;

  h1 {
    font-family: $Helvetica_ULC;
    font-size: $title-size;
    @include text-shadow(1px 1px 1px, $black-50);
    text-align: center;
    margin-top: 10%; 
    em {
      font-family: $Helvetica_LC;
    }
  }

  .btn_plus {
    @include position(absolute, auto, 0, 5%, 0);
    display: block;
    margin: 0 auto;
  }
}

